/* using media query to hide and show elements */

/* 30em is 480px, 
show at screen-extraSmall */
.show-screen-xs {
  display: none;
}
@media screen and (max-width: 30em) {
  .show-screen-xs {
    display: initial;
  }
}
/* 48em is 768px, 
show at screen-Small */
.show-screen-s {
  display: none;
}
@media screen and (max-width: 48em) {
  .show-screen-s {
    display: initial;
  }
}
/* 64em is 1024px, show at 
screen-medium */
.show-screen-m {
  display: none;
}
@media screen and (max-width: 64em) {
  .show-screen-m {
    display: initial;
  }
}
/* 80em is 1280px, 
show at screen-large */
.show-screen-l {
  display: none;
}
@media screen and (max-width: 80em) {
  .show-screen-l {
    display: initial;
  }
}
/* 96em is 1536px, 
show at screen-extraLarge */
.show-screen-xl {
  display: none;
}
@media screen and (max-width: 96em) {
  .show-screen-xl {
    display: initial;
  }
}
/* 96em is 1536px, 
show at screen-extraExtraLarge */
.show-screen-xxl {
  display: none;
}
@media screen and (min-width: 96em) {
  .show-screen-xxl {
    display: initial;
  }
}
/* 30em is 480px, 
hide at screen-extraSmall */
.hide-screen-xs {
  display: initial;
}
@media screen and (max-width: 30em) {
  .hide-screen-xs {
    display: none;
  }
}
/* 48em is 768px, 
hide at screen-Small */
.hide-screen-s {
  display: initial;
}
@media screen and (max-width: 48em) {
  .hide-screen-s {
    display: none;
  }
}
/* 64em is 1024px, 
hide at screen-medium */
.hide-screen-m {
  display: initial;
}
@media screen and (max-width: 64em) {
  .hide-screen-m {
    display: none;
  }
}
/* 80em is 1280px, 
hide at screen-large */
.hide-screen-l {
  display: initial;
}
@media screen and (max-width: 80em) {
  .hide-screen-l {
    display: none;
  }
}
/* 96em is 1536px, 
hide at screen-extraLarge */
.hide-screen-xl {
  display: initial;
}
@media screen and (max-width: 96em) {
  .hide-screen-xl {
    display: none;
  }
}
/* 96em is 1536px, 
hide at screen-extraExtraLarge */
.hide-screen-xxl {
  display: initial;
}
@media screen and (max-width: 96em) {
  .hide-screen-xxl {
    display: none;
  }
}