/* text align property */
.text-c {
  text-align: center;
}
.text-j {
  text-align: justify;
}
.text-l {
  text-align: left;
}
.text-r {
  text-align: right;
}
.text-s {
  text-align: start;
}
.text-e {
  text-align: end;
}