/* flex and grid */
.d-flex {
  display: flex;
}
.d-grid {
  display: grid;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* align content */
.ac-c {
  align-content: center;
}
.ac-fs {
  align-content: flex-start;
}
.ac-fe {
  align-content: flex-end;
}
.ac-sa {
  align-content: space-around;
}
.ac-sb {
  align-content: space-between;
}
.ac-s {
  align-content: stretch;
}

/* align items */
.ai-b {
  align-items: baseline;
}
.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}
.ai-fe {
  align-items: flex-end;
}
.ai-s {
  align-items: stretch;
}

/* flex flow */
.ff-c {
  flex-flow: column;
}
.ff-cr {
  flex-flow: column-reverse;
}
.ff-n {
  flex-flow: nowrap;
}
.ff-r {
  flex-flow: row;
}
.ff-rr {
  flex-flow: row-reverse;
}
.ff-w {
  flex-flow: wrap;
}
.ff-wr {
  flex-flow: wrap-reverse;
}

/* gap/gutter */
/* gutters are available from 10px to 
30px with an increament of 5px */
.g, .g-10 {
  gap: 10px;
}
.gr-10 {
  gap: 10px 0px;
}
.gc-10 {
  gap: 0px 10px;
}

.g-15 {
  gap: 15px;
}
.gr-15 {
  gap: 15px 0px;
}
.gc-15 {
  gap: 0px 15px;
}

.g-20 {
  gap: 20px;
}
.gr-20 {
  gap: 20px 0px;
}
.gc-20 {
  gap: 0px 20px;
}

.g-25 {
  gap: 25px;
}
.gr-25 {
  gap: 25px 0px;
}
.gc-25 {
  gap: 0px 25px;
}

.g-30 {
  gap: 30px;
}
.gr-30 {
  gap: 30px 0px;
}
.gc-30 {
  gap: 0px 30px;
}

/* justify items */
.ji-b {
  justify-items: baseline;
}
.ji-c {
  justify-items: center;
}
.ji-e {
  justify-items: end;
}
.ji-fs {
  justify-items: flex-start;
}
.ji-fe {
  justify-items: flex-end;
}

/* justify content */
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-fe {
  justify-content: flex-end;
}