@import url(../root.css);

/* align content */
.align-c-c {
  align-content: center;
}
.align-c-fs {
  align-content: flex-start;
}
.align-c-fe {
  align-content: flex-end;
}
.align-c-sa {
  align-content: space-around;
}
.align-c-sb {
  align-content: space-between;
}
.align-c-s {
  align-content: stretch;
}

/* align items */
.align-i-b {
  align-items: baseline;
}
.align-i-c {
  align-items: center;
}
.align-i-fs {
  align-items: flex-start;
}
.align-i-fe {
  align-items: flex-end;
}
.align-i-s {
  align-items: stretch;
}

/* justify content */
.justify-c-c {
  justify-content: center;
}
.justify-c-sa {
  justify-content: space-around;
}
.justify-c-sb {
  justify-content: space-between;
}
.justify-c-se {
  justify-content: space-evenly;
}
.justify-c-fs {
  justify-content: flex-start;
}
.justify-c-fe {
  justify-content: flex-end;
}

/* justify items */
.justify-i-b {
  justify-items: baseline;
}
.justify-i-c {
  justify-items: center;
}
.justify-i-e {
  justify-items: end;
}
.justify-i-fs {
  justify-items: flex-start;
}
.justify-i-fe {
  justify-items: flex-end;
}

/* gap/gutter */
/* five gutter sizes are available for use */
.g-1 {
  gap: var(--size-1);
}
.gx-1 {
  gap: 0 var(--size-1);
}
.gy-1 {
  gap: var(--size-1) 0;
}

.g-2 {
  gap: var(--size-1p5);
}
.gx-2 {
  gap: 0 var(--size-1p5);
}
.gy-2 {
  gap: var(--size-1p5) 0;
}

.g-2 {
  gap: var(--size-2);
}
.gx-2 {
  gap: 0 var(--size-2);
}
.gy-2 {
  gap: var(--size-2) 0;
}

.g-3 {
  gap: var(--size-2p5);
}
.gx-3 {
  gap: 0 var(--size-2p5);
}
.gy-3 {
  gap: var(--size-2p5) 0;
}

.g-4 {
  gap: var(--size-3);
}
.gx-4 {
  gap: 0 var(--size-3);
}
.gy-4 {
  gap: var(--size-3) 0;
}

.g-5 {
  gap: var(--size-3p5);
}
.gx-5 {
  gap: 0 var(--size-3p5);
}
.gy-5 {
  gap: var(--size-3p5) 0;
}

