.height-auto {
  height: auto;
}

.height-fit {
  height: fit-content;
}

.height-max {
  height: 100%;
}

.height-screen {
  height: 100vh;
}

.width-auto {
  width: auto;
}

.width-fit {
  width: fit-content;
}

.width-max {
  width: 100%;
}

.width-screen {
  width: 100vw;
}
