@import url(../root.css);

/* text colors */
/* theam */

.txt-black {
  color: var(--black-color);
}
.txt-white {
  color: var(--white-color);
}
.txt-primary {
  color: var(--primary-color);
}
.txt-secondary {
  color: var(--secondary-color);
}
.txt-tertiary {
  color: var(--tertiary-color);
}
.txt-minimal {
  color: var(--minimal-color);
}

.txt-dark-lite {
  color: var(--dark-color-lite);
}
.txt-dark {
  color: var(--dark-color);
}
.txt-dark-heavy {
  color: var(--dark-color-heavy);
}

.txt-light-lite {
  color: var(--light-color-lite);
}
.txt-light {
  color: var(--light-color);
}
.txt-light-heavy {
  color: var(--light-color-heavy);
}

/* colors */

/* violet */
.txt-violet-1 {
  color: var(--violet-1);
}
.txt-violet-2 {
  color: var(--violet-2);
}
.txt-violet-3 {
  color: var(--violet-3);
}
.txt-violet-4 {
  color: var(--violet-4);
}
.txt-violet-5 {
  color: var(--violet-5);
}
/* indigo */
.txt-indigo-1 {
  color: var(--indigo-1);
}
.txt-indigo-2 {
  color: var(--indigo-2);
}
.txt-indigo-3 {
  color: var(--indigo-3);
}
.txt-indigo-4 {
  color: var(--indigo-4);
}
.txt-indigo-5 {
  color: var(--indigo-5);
}
/* blue */
.txt-blue-1 {
  color: var(--blue-1);
}
.txt-blue-2 {
  color: var(--blue-2);
}
.txt-blue-3 {
  color: var(--blue-3);
}
.txt-blue-4 {
  color: var(--blue-4);
}
.txt-blue-5 {
  color: var(--blue-5);
}
/* green */
.txt-green-1 {
  color: var(--green-1);
}
.txt-green-2 {
  color: var(--green-2);
}
.txt-green-3 {
  color: var(--green-3);
}
.txt-green-4 {
  color: var(--green-4);
}
.txt-green-5 {
  color: var(--green-5);
}
/* yellow */
.txt-yellow-1 {
  color: var(--yellow-1);
}
.txt-yellow-2 {
  color: var(--yellow-2);
}
.txt-yellow-3 {
  color: var(--yellow-3);
}
.txt-yellow-4 {
  color: var(--yellow-4);
}
.txt-yellow-5 {
  color: var(--yellow-5);
}
/* orange */
.txt-orange-1 {
  color: var(--orange-1);
}
.txt-orange-2 {
  color: var(--orange-2);
}
.txt-orange-3 {
  color: var(--orange-3);
}
.txt-orange-4 {
  color: var(--orange-4);
}
.txt-orange-5 {
  color: var(--orange-5);
}
/* red */
.txt-red-1 {
  color: var(--red-1);
}
.txt-red-2 {
  color: var(--red-2);
}
.txt-red-3 {
  color: var(--red-3);
}
.txt-red-4 {
  color: var(--red-4);
}
.txt-red-5 {
  color: var(--red-5);
}
/* grey */
.txt-gray-1,
.txt-grey-1 {
  color: var(--grey-1);
}
.txt-gray-2,
.txt-grey-2 {
  color: var(--grey-2);
}
.txt-gray-3,
.txt-grey-3 {
  color: var(--grey-3);
}
.txt-gray-4,
.txt-grey-4 {
  color: var(--grey-4);
}
.txt-gray-5,
.txt-grey-5 {
  color: var(--grey-5);
}

/* background colors */

/* theam */

.bg-black {
  background-color: var(--black-color);
}
.bg-white {
  background-color: var(--white-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-tertiary {
  background-color: var(--tertiary-color);
}
.bg-minimal {
  background-color: var(--minimal-color);
}

.bg-dark-lite {
  background-color: var(--dark-color-lite);
}
.bg-dark {
  background-color: var(--dark-color);
}
.bg-dark-heavy {
  background-color: var(--dark-color-heavy);
}

.bg-light-lite {
  background-color: var(--light-color-lite);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-light-heavy {
  background-color: var(--light-color-heavy);
}

/* colors */

/* violet */
.bg-violet-1 {
  background-color: var(--violet-1);
}
.bg-violet-2 {
  background-color: var(--violet-2);
}
.bg-violet-3 {
  background-color: var(--violet-3);
}
.bg-violet-4 {
  background-color: var(--violet-4);
}
.bg-violet-5 {
  background-color: var(--violet-5);
}
/* indigo */
.bg-indigo-1 {
  background-color: var(--indigo-1);
}
.bg-indigo-2 {
  background-color: var(--indigo-2);
}
.bg-indigo-3 {
  background-color: var(--indigo-3);
}
.bg-indigo-4 {
  background-color: var(--indigo-4);
}
.bg-indigo-5 {
  background-color: var(--indigo-5);
}
/* blue */
.bg-blue-1 {
  background-color: var(--blue-1);
}
.bg-blue-2 {
  background-color: var(--blue-2);
}
.bg-blue-3 {
  background-color: var(--blue-3);
}
.bg-blue-4 {
  background-color: var(--blue-4);
}
.bg-blue-5 {
  background-color: var(--blue-5);
}
/* green */
.bg-green-1 {
  background-color: var(--green-1);
}
.bg-green-2 {
  background-color: var(--green-2);
}
.bg-green-3 {
  background-color: var(--green-3);
}
.bg-green-4 {
  background-color: var(--green-4);
}
.bg-green-5 {
  background-color: var(--green-5);
}
/* yellow */
.bg-yellow-1 {
  background-color: var(--yellow-1);
}
.bg-yellow-2 {
  background-color: var(--yellow-2);
}
.bg-yellow-3 {
  background-color: var(--yellow-3);
}
.bg-yellow-4 {
  background-color: var(--yellow-4);
}
.bg-yellow-5 {
  background-color: var(--yellow-5);
}
/* orange */
.bg-orange-1 {
  background-color: var(--orange-1);
}
.bg-orange-2 {
  background-color: var(--orange-2);
}
.bg-orange-3 {
  background-color: var(--orange-3);
}
.bg-orange-4 {
  background-color: var(--orange-4);
}
.bg-orange-5 {
  background-color: var(--orange-5);
}
/* red */
.bg-red-1 {
  background-color: var(--red-1);
}
.bg-red-2 {
  background-color: var(--red-2);
}
.bg-red-3 {
  background-color: var(--red-3);
}
.bg-red-4 {
  background-color: var(--red-4);
}
.bg-red-5 {
  background-color: var(--red-5);
}
/* grey */
.bg-gray-1,
.bg-grey-1 {
  background-color: var(--grey-1);
}
.bg-gray-2,
.bg-grey-2 {
  background-color: var(--grey-2);
}
.bg-gray-3,
.bg-grey-3 {
  background-color: var(--grey-3);
}
.bg-gray-4,
.bg-grey-4 {
  background-color: var(--grey-4);
}
.bg-gray-5,
.bg-grey-5 {
  background-color: var(--grey-5);
}
